<div style="display: flex;justify-content: center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" >
                    <a class="nav-link" (click)="goTo('class')">Class</a>
                    <span></span>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" (click)="goTo('course')">Course</a>
                    <span></span>
                </li>
                <li class="nav-item" > 
                    <a class="nav-link" (click)="goTo('student')">Student</a>
                    <span></span>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" (click)="goTo('session')">Sessions</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </nav>
</div>